button {
    padding: 5px 20px;
    text-align: center;
    background: transparent;
    border: 1px solid black;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}
.sucesso {
    background: green;
    color: #FFF;
}
.falha {
    background: red;
    color: #FFF;
}
.alerta {
    background: yellow;
    color: black;
}
.default {
    background: blue;
    color: white;
}
